body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #333;
}

form {
    background: green;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
    margin: 10px 0;
    padding: 10px;
    front-size: 18px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}